<div class="product-category">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="homepage-section-title">商品カテゴリー</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['bookend'].url }}">
	      <img src="{{ 'bookend.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>ブックエンド</span><br>Book end</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['vase'].url }}">
	      <img src="{{ 'vase.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>花器</span><br>Vase</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['dinnerware'].url }}">
	      <img src="{{ 'dinnerware.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>器・キッチン用品</span><br>Dinnerware</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['diffuser-pot'].url }}">
	      <img src="{{ 'diffuser-pot.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>アロマポット</span><br>Diffuser Pot</h4>
  		</a>
    </div>
     <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['stool'].url }}">
	      <img src="{{ 'stool.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>スツール</span><br>Stool</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['door-stopper'].url }}">
	      <img src="{{ 'door-stopper.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>ドアストッパー</span><br>Door Stopper</h4>
  		</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['desk-accessories'].url }}">
	      <img src="{{ 'desk.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>小物インテリア</span><br>Desk Accessories</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['umbrella'].url }}">
	      <img src="{{ 'umbrella-base.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>傘立て</span><br>Umbrella Base</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['soap-dishe'].url }}">
	      <img src="{{ 'soap-dish.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>ソープディッシュ</span><br>Soap Dish</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['ashtray'].url }}">
	      <img src="{{ 'ashtray.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>灰皿</span><br>Ashtray</h4>
  		</a>
    </div>
     <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['toothbrush-stand'].url }}">
	      <img src="{{ 'toothbrush-stand.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>歯ブラシスタンド</span><br>Toothbrush Stand</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['clothes-rack'].url }}">
	      <img src="{{ 'clothes-rack.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>洋服掛け</span><br>Clothes Rack</h4>
  		</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['mirror'].url }}">
	      <img src="{{ 'mirror.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>置型ミラー</span><br>Wall hangings mirror</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['flower-pot'].url }}">
	      <img src="{{ 'flower-pot.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>植木鉢</span><br>Flower pot</h4>
  		</a>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
    	<a href="{{ collections['fashion'].url }}">
	      <img src="{{ 'fashion.jpg' | asset_url }}" class="img-responsive">
	      <h4><span>ファッション</span><br>Fashion Accessories</h4>
  		</a>
    </div>
   </div>
</div>
</div>